<div class="span3 sidebar well">
	<ul class="nav nav-list">

		<img src="http://www.regis.org/images/Admissions/Nav_Pic_57.jpg" />
		<li class="nav-header">Classes</li>

		<li class=<%= 'active' if params[:action] == 'index'%>><%= link_to "All Classes", clas_path%></li>

	</ul>
</div>

