<%= render 'group_link' %>

<div class="span9">

	<h1 style="text-align:center">All Classes</h1>
	<table class="table">
	<tr>
		<th>Class Name</th>
	</tr>

	<% @clas.each do |c| %>
	<tr>
		<td><%= link_to full_class_name(c), cla_path(c)%></td>
	</tr>
	<% end %>
			    
	</table>
</div>



