<%= render 'group_link' %>

<div class="span9 content">
	<%= render 'layouts/breadcrumb'%>

	<h1>All Classes</h1>

	<% Cla::GRADES.each do |grade|%>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><%="Senior #{grade}"%></h3>
			</div>
			<% classes_of_grade = @clas.select{ |c| c.grade == grade}%>

			<div class="panel-body">
				<ul>
				<% classes_of_grade.each do |c| %>
				<li><%= link_to full_class_name(c), class_path(c)%></li>
				<% end %>
				</ul>
			</div>

		</div>
	<% end %>
</div>