<%= render 'group_links'%>
<div class="span10 offset1">
<h1>Application Process</h1>
<BR>
<BR>

<p>

Admission to Regis is highly competitive. To be eligible an applicant must be a baptized Roman Catholic boy with excellent grades and standardized testing (above 90% in CTBS/CAP/ERB or equivalent testing).

</p>
<p>
If an applicant is in a Catholic school in the New York Metropolitan area, he can receive an application directly from his principal or 8th grade teacher. They will prescreen applicants based on the criteria above.
</p>
<p>
If an applicant is in a public or independent school, he or his parents should contact the Regis Admissions Office directly and be ready to provide a copy of his final 7th grade report card and the relevant information on standardized testing.
</p>
<p>
All applicants are expected to sit for the Regis Scholarship Exam on November 1, 2014. Once an applicant has submitted his application – due two weeks before the exam – we will expect him for the exam. Please note that the Regis Exam is the High School Placement Exam (HSPT), not the TACHS test. Please do not put us down as one of your three choices on the TACHS test.
</p>
<p>
For more detailed information, please check out the Admissions Calendar and Checklist.
</p>
</div>