<%= render 'group_links'%>
<div class="span10 offset1">

<h1>Checklist</h1>
<BR>
<BR>
	<p>This page is a reminder for what you must do and when you must do it. Check off each item as you complete it.</p>

	<ul>
	<li>Attend OPEN HOUSE - <strong>Wednesday, Oct. 8th</strong> (5:30-8:30pm) for all Bronx, Manhattan and Westchester Residents; <strong>Monday, Oct. 13th</strong> (1:00-4:00pm) for all other areas.</li>
	<BR>
	<li>Give FORM 2-ACADEMIC PERFORMANCE RECORD to Principal or Guidance Counselor together with stamped envelope addressed to Regis Scholarship Committee.</li>
	<BR>
	<li>Give FORM 3-SCHOOL RECOMMENDATION to one of this year's or last year's teachers together with stamped envelope addressed to Regis Scholarship Committee.</li>
	<BR>
	<li>Fill out FORM 1-STUDENT APPLICATION FORM in <strong>ink and in your own handwriting</strong>. The form is due a minimum of <strong>two (2) weeks before the exam</strong>. Be sure to answer every question. Sign page 4. Have parent sign page 4.</li>
	<BR>
	<li>Expect letter from Regis no later than <strong>Friday, December 5, 2014</strong>. If you do not receive a letter, phone Regis on <strong>Tuesday, December 9, 2014</strong>, between 9:30 a.m. and 3:30 p.m. PLEASE DO NOT PHONE BEFORE THIS.</li>
	<ul>

</div>