<%= render 'group_links'%>
<div class="span9 content">
	<%= render'layouts/breadcrumb'%>
	<h1>FAQ's</h1>

	<ul>
		<li><strong>Does an applicant have to be a baptized Roman Catholic boy to apply?</strong> <BR>
	Yes, as a Catholic Leadership school, Regis's founding charter requires this.</li>
		<BR>
		<li><strong>Does an applicant have to be confirmed before attending Regis?</strong> <BR>
	No.</li>
		<BR>
		<li><strong>What are the criteria for applying to Regis?</strong> <BR>
	In addition to being a baptized Roman Catholic boy, an applicant must have excellent grades and standardized testing (above 90% in CTBS/CAP/ERB or equivalent testing).</li>
		<BR>
		<li><strong>How does a student get an application?</strong> <BR>
	If an applicant is in a Catholic school in the New York Metropolitan area, he can receive an application directly from his principal or 8th grade teacher. They will prescreen applicants based on the criteria above.</li>
		<BR>
		<li><strong>What is the Regis Scholarship Exam?</strong> <BR>
	Regis uses the High School Placement Test (HSPT). It will be offered at Regis on Saturday, November 2nd, 2013. Bronx, Manhattan and Queens residents will take the exam at 8:30am. The Rest of the World will take it at 12:30pm. If an applicant needs to switch test times, he should call the admissions office. (Brooklyn and Queens residents should see our special instructions concerning resolving the conflict with the TACHS test.)
		</li>
	<ul>
</div>