<%= render 'group_links'%>

<h1>FAQ's</h1>
<ul>
	<li><strong>Does an applicant have to be a baptized Roman Catholic boy to apply?</strong>
Yes, as a Catholic Leadership school, Regis's founding charter requires this.</li>
<ul>
