<div class="jumbotron"></div>

<div class="container-fluid" id="home-container">

  <div class="row-fluid">
    <div class="span10 offset1">
      <h1>Regis High School</h1>

      <p style="font-size:15px">Founded in 1914 by an anonymous benefactor and supported by the generosity of her family, its alumni and friends, Regis High School offers a tuition free Jesuit college preparatory education to Roman Catholic young men from the New York metropolitan area who demonstrate superior intellectual and leadership potential. In the admissions process, special consideration is given to those who cannot otherwise afford a Catholic education.</p>
      <br>

      <h1 class="section-head"><span>NEWS & EVENTS</span></h1>

      <div class="panel panel-default panel-body news">
          <span class="label label-primary">LATEST NEWS</span>
          <p>
            <ul>
              <li>A Special Announcement from Regis High School</li>
              <li>Annual Festival of Arts Showcases a Variety of Student Talent</li>
              <li>Alumni Return for The Regis Repertory's Centennial Production of Child’s Play</li>
              <li>Storied History of the Regis Hearn Honored at the Highly Entertaining Centennial Debate</li>
              <li>Economics Club Take a Trip to Bloomberg</li>
              <li>Join us and become part of the Regis family members: our new sememster application begins at this July!</li>
            </ul>
          </p>
      </div>

      <div class="panel panel-default panel-body news">
          <span class="label label-primary">UPCOMING EVENTS</span>
          <p>
            <table>
              <tr>
                <td><li>Independence Day</li></td>
                <td><i>July 4, 2014 all day</i></td>
              </tr>
              <tr>
                <td><li>First Day of School</li></td>
                <td><i>August 11, 2014 all day</i></td>
              </tr>
              <tr>
                <td><li>Making College Affordable Workshop</li></td>
                <td><i>August 19, 2014 6:00pm</i></td>
              </tr>
              <tr>
                <td><li>Economics Club Take a Trip to Bloomberg</li></td>
                <td><i>September 25, 2014 all day</i></td>
              </tr>
            </table>
          </p>
      </div>

    </div>
  </div>
</div>

