<div class="jumbotron" id="homepage">

  <div class="row">
    <div class="span8">
  		<img src="http://en.academic.ru/pictures/enwiki/79/OmahaCentralHighSchoolDodgeSt.jpg" class="img-rounded"/>
  	</div>

  	<div class="span5 offset1">
  		<h2><i>Welcome to</i><br>
  		<strong>Regis High School</stong></h2><br>
  		<p style="font-size:15px">Founded in 1914 by an anonymous benefactor and supported by the generosity of her family, its alumni and friends, Regis High School offers a tuition free Jesuit college preparatory education to Roman Catholic young men from the New York metropolitan area who demonstrate superior intellectual and leadership potential. In the admissions process, special consideration is given to those who cannot otherwise afford a Catholic education.</p><br>
  		<p class="offset3"><a class="btn btn-primary btn-lg" role="button" href="pages/application">Join us!</a></p>
	</div>

  </div>

</div>


<div class="row">

  <div class="span5">
    <div class="thumbnail">

      <div class="caption">
      	<button class="btn btn-default" type="submit">LATEST NEWS</button>
        <p>
        	<ul>
        		<li>A Special Announcement from Regis High School</li><br>
        		<li>Annual Festival of Arts Showcases a Variety of Student Talent</li><br>
        		<li>Alumni Return for The Regis Repertory's Centennial Production of Child’s Play</li><br>

        		<li>...</li>

        </p>

      </div>
    </div>
  </div>



  <div class="span9" id="homevideo">
    <div class="thumbnail">

      <div class="caption">
		<button class="btn btn-default" type="submit">PHOTAGALLERY</button>
        <p>
        	
        </p>

      </div>
    </div>
  </div>

 


</div>