<div class="span6 offset3">
	<h1>Edit Lesson</h1>

	<%= form_for(@lesson) do |f| %>
	   	<%= render 'fields', f: f%>

		<%= f.submit "Save Changes", class: "btn btn-large btn-primary" %>
	<% end %>
</div>