<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">Teachers</li>
			<li class=<%= 'active' if params[:action] == 'index'%>><%= link_to "All Teachers", teachers_path%></li>
			<li class=<%= 'active' if params[:action] == 'departments'%>><%= link_to "Departments", '/departments'%></li>
		</ul>
	</div>
	
</div>