<div class="span3 sidebar well">
	<img src="http://www.regis.org/images/Admissions/Nav_Pic_49.jpg" />
	<ul class="nav nav-list">
		<li class="nav-header">Teacher</li>
		<li class=<%= 'active' if params[:action] == 'show'%>><%= link_to "Information", teacher_path(teacher)%></li>
		<li class=<%= 'active' if params[:action] == 'timetable'%>><%= link_to "Timetable", timetable_path(teacher)%></li>

	</ul>
</div>

