<div class="span3 sidebar">
	<ul class="nav nav-list">
		<li class="nav-header">Teacher</li>
		<li class=<%= 'active' if params[:action] == 'show'%>><%= link_to "Information", teachers_path%></li>
		<li class=<%= 'active' if params[:action] == 'timetable'%>><%= link_to "Timetable", timetable_path(teacher)%></li>
	</ul>
</div>

