<%= render 'teachers/group_links'%>

<div class="span9 content">
	<%= render 'layouts/breadcrumb'%>
    
	<h1><%=format4display(@department)%></h1>
	
	<ul>
		<% @teachers.each do |teacher| %>
	  	<li><%= link_to teacher.name, teacher_path(teacher.id)%></li>
		<% end %>
	</ul>
	
</div>