<%= render 'group_links'%>

<div class="span9">
	<h1 style="text-align:center">All Teachers</h1><br><br>
	<table class="table">
	  <tr>
	    <th>Name</th>
	    <th>Department</th>
	  </tr>
	 
	  <% @teachers.each do |teacher| %>
		  <tr>
		    <td><%= link_to teacher.name, teacher_path(teacher) %></td>
		    <td><%= teacher.department %></td>
		  </tr>
	  <% end %>
	</table>

	<br>
	<% if signed_in? %>
		<%= link_to "New Teacher", new_teacher_path%>
	<% end %>
</div>
