<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">Courses by Grade</li>
			<% Course::GRADES.each do |grade|%>
				<li class=<%= 'active' if params[:grade] == grade%>><%= link_to "Senior #{grade}", courses_path%></li>
			<% end %>
		</ul>
	</div>
	
</div>