<%= render 'group_links'%>

<div class="span9">
	<h1>All Courses</h1>
	
	<% Course::GRADES.each do |grade| %>
		<% courses_of_grade = @all_courses.select do |course| %>
			 <% course.grade == grade %>
		<% end %>	

		<h3><%= "Senior #{grade}"%></h3>
		<ul>
			<% courses_of_grade.each do |course| %>
				<li class="inline"><%= link_to course.name, course_path(course.id) %></li>
			<% end %>
		</ul>
		  
		<br>
	<% end %>

	<%= link_to "New Course", new_course_path%>
</div>
