<%= render 'group_links'%>

<div class="span9 content">
	<h1>Courses by Department</h1>
	
	<% Course::DEPARTMENTS.each do |department| %>
		<% courses_of_dept = @all_courses.select do |course| %>
			 <% course.department == department %>
		<% end %>	
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><%=department%></h3>
			</div>
			<div class="panel-body">
				<ul>
				<% courses_of_dept.each do |course| %>
				<li><%= link_to course.name, course_path(course) %></li>
				<% end %>
				</ul>
			</div>

		</div>
	<% end %>

	<% if signed_in? %>
		<%= button_to('New Course', new_course_path, :class => 'btn btn-large btn-primary')  %>
	<% end %>
</div>

