<%= render 'group_links'%>

<div class="span9 offset1">
	<h1>All Courses</h1>
	
	<% Course::DEPARTMENTS.each do |department| %>
		<% courses_of_dept = @all_courses.select do |course| %>
			 <% course.department == department %>
		<% end %>	

		<h3><%=department%></h3>
		<ul>
			<% courses_of_dept.each do |course| %>
				<li class="inline"><%= link_to course.name, course_path(course.id) %></li>
			<% end %>
		</ul>
		<br>
	<% end %>

	<%= link_to "New Course", new_course_path%>
</div>
