@import "bootstrap";

/* universal */
body {
  padding-top: 50px;
  background: url('/assets/light_noise_diagonal.png') repeat scroll 0 0 rgba(0, 0, 0, 0);
}


.sidebar {
  margin-top: 20px;
  position: static;

  img{
    margin-bottom: 15px;
  }

  ul{
    padding-left: 15px;
  }
}

#wrapper{
  width: 900px;
  background: url('/assets/lightpaperfibers.png') repeat scroll 0 0 rgba(0, 0, 0, 0);
  padding-bottom: 10px;
}

.content{
  padding-left: 10px;
}

.inline {
  display: inline;
  margin-right: 20px;
}
/* homepage */
.jumbotron {
  background-attachment: fixed;
  background-image: url('/assets/jumbotron.jpeg');

  background-position: center;
  background-size: cover;
  height: 430px;
  position: relative;
  width: 100%;
}

#home-pic {
  margin-bottom: 0;
}

#home-container{
  h1{
    border: none;
  }
}

.content{
  margin: 0,50px,0,50px;

  ul > li{
    font-size: 1.2em;
    margin-bottom: 10px;
  }

}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  padding-left: 9px; 
  font-weight: bold;
  line-height: 1;
  &:hover {
	  color: #fff;
	  text-decoration: none;
  }
}

ul.navbar-nav a{
  color: white !important;
  font-size: 1.3em;
  font-weight: 1.5em;
}

/* typography */

h1, h2, h3, h4, h5, h6{
  line-height: 1;
}

h1 {
  letter-spacing: -2px;
  margin-bottom: 30px !important;
  border-bottom: 1px, solid, $grayLight !important;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}



/* form */
input, textarea{
  width: 100%;
  display: block;
  margin-bottom: 15px;
  height: auto !important;

}

select{
  display: block;
  margin-bottom: 15px;
}


/* breadcrumbs*/
.breadcrumb {
  margin-top: 20px;
}

/* footer */

footer {
  
  clear: both;
  position: relative;
  z-index: 10;
  height: 2em;
  margin: 5px auto 0 auto;
  border-top: 1px solid $grayLight;
  padding-top: 5px;
  padding-bottom: 5px;

  center {
    color: $grayLight;
  }
}

/* others */
.debug_dump {
  /*clear: both;
  float: left;*/
  width: 100%;
  margin-top: 45px;
  /*-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;*/
}

#class_desc {
  margin-top: 50px;
}

#courses_related {
  margin-top: 20px;
}

