@import "bootstrap";

/* universal */
body {
  margin: 0px;
  padding-top: 50px;
  background-color: #eee !important;
}

.center-container {
  background-color: white;
  width: 1000px;
  margin: 10px auto;
  padding: 0px 20px 10px 10px;
}


.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.sidebar {
  margin-top: 50px;
  padding-left: 20px;
}

.inline {
  display: inline;
  margin-right: 20px;
}
/* homepage */
.jumbotron {
  background-attachment: fixed;
  background-image: url('/assets/background.jpeg');

  background-position: center;
  background-size: cover;
  height: 430px;
  position: relative;
  width: 100%;
}

#home_pic {
  margin-bottom: 0;
}

.content{
  margin: 0,50px,0,50px;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  padding-left: 9px; 
  font-weight: bold;
  line-height: 1;
  &:hover {
	  color: #fff;
	  text-decoration: none;
  }
}

ul.navbar-nav a{
  color: white !important;
  font-size: 1.3em;
  font-weight: 1.5em;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* form */
input, textarea{
  width: 100%;
  display: block;
  margin-bottom: 15px;
  height: auto !important;

}

select{
  display: block;
  margin-bottom: 15px;
}


/* breadcrumbs*/
.breadcrumb > li + li:before {
  content: '/';
}


/* others */
.debug_dump {
  /*clear: both;
  float: left;*/
  width: 100%;
  margin-top: 45px;
  /*-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;*/
}



#department_panel {
  margin-top: 80px;
}
