@import "bootstrap";

/* universal */

html,body {
    margin:0;
    padding:0;
    height:100%;
    background: url('/assets/light_noise_diagonal.png') repeat scroll 0 0 rgba(0, 0, 0, 0);

    font-family:arial,sans-serif;
}

.sidebar {
  margin-top: 20px;
  position: static;

  img{ margin-bottom: 15px; }

  ul{ padding-left: 15px; }
}

#wrapper{
  position:relative;
  width: 900px;
  background: url('/assets/lightpaperfibers.png') repeat scroll 0 0 rgba(0, 0, 0, 0);
  padding-top: 50px;
  padding-bottom: 10px;
  min-height: 95%;
  height:auto !important;
  height:95%;
}

/* homepage */
.jumbotron {
  background-attachment: fixed;
  background-image: url('/assets/jumbotron.jpeg');
  background-position: center;
  background-size: cover;
  margin-bottom: 0 !important;
  height: 430px;
  position: relative;
  width: 100%;
}

#home-container{
  padding-left: 30px;
  padding-right: 30px;
  background: url('/assets/lightpaperfibers.png') repeat scroll 0 0 rgba(0, 0, 0, 0);

  h1{
    border: none;

    &.section-head {
      background: url("/assets/bg-lines.png") repeat-x scroll center center rgba(0, 0, 0, 0);
      font-size: 16px;
      font-weight: bold;
      line-height: 25px;
      margin-bottom: 30px;
      position: relative;

      span{
        background: url('/assets/lightpaperfibers.png') repeat scroll 0 0 rgba(0, 0, 0, 0);
        padding-right: 10px;
      }
    }
  }

}

#news-events{
  panel { width: 100px;}
}

.content{
  padding-left: 20px;
  padding-right: 20px;

  h2{  
    font-weight: bold;
    font-size: 1.4em;
  }
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-family: Georgia;
  font-size: 1.7em;
  color: #87CEEB;
  padding: 2px 4px;
  margin: 5px 0 5px 10px;
  border: 3px solid white;
  border-radius: 10px;
  font-weight: bold;
  line-height: 1;
  &:hover {
	  text-decoration: none;
  }
}

#nav {
  background: none repeat scroll 0 0 #373737;
  font-size: 1.2em;
  font-weight: 1.5em;

  ul.navbar-nav {
    a {
      padding: 10px;
      margin: 5px;
      border-radius: 5px;
    }
    a:link, a:visited {color: white;}
    a:hover {background-color: #808080;}
  }
}

/* typography */

h1 {  margin-bottom: 30px !important;}

p, li{
  font-size: 1.1em;
  line-height: 1.7em;
}

/* form */
form{ margin-bottom: 0 }

input, textarea, select{
  display: block;
  margin-bottom: 15px !important;
  width: 100%;
  height: auto !important;
}

/* breadcrumbs & sidebar*/
.breadcrumb { margin-top: 20px; }

.nav-list {
  li { 
    margin: 5px 0 5px 0;
    line-height: 1.5em;
  }
}

/* footer */

footer {
  
  position:relative;
  bottom:0;
  height: 2em;
  margin-top: 5px;
  border-top: 1px solid $grayLight;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  center {
    color: $grayLight;
  }
}

/* others */
.debug_dump {
  /*clear: both;
  float: left;*/
  width: 100%;
  margin-top: 45px;
  /*-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;*/
}


