<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<%= link_to "REGIS HIGH SCHOOL", root_path, id: "logo" %>
		<ul class="nav pull-right">
			<li><%= link_to "Admission", '#'%></li>
			<li><%= link_to "Teachers", teachers_path%></li>
			<li><%= link_to "Courses", courses_path%></li>
		</ul>
	</div>

</header>