<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<%= link_to "REGIS HIGH SCHOOL", root_path, id: "logo" %>
		<ul class="nav pull-right">
			<li><%= link_to "School", '#'%></li>
			<li><%= link_to "Parents", '#'%></li>
		</ul>
	</div>

</header>